@{
    ViewBag.Title = "UBAbout";
    Layout = "~/Views/Shared/BeforeLogin.cshtml";
}

    @section title
    {
        <title>Easy Course Registration System | Contact</title>
    }
<div class="main_btm1"><!-- start main_btm -->
<div class="container">
	<div class="contact">
        
		
		<p class="style"><h2>Developed By : Muhammad Tasadduq Ali </h2>
						 <h2>Roll No. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp&nbsp&nbsp BITF11A032   </h2>
						 <h2>Semester &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp&nbsp&nbsp 6th </h2>
				   		<h2>Cell No &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp&nbsp&nbsp +923249486523 </h2>
                        <h2>Follow Me &nbsp&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp&nbsp&nbsp <a href="https://www.facebook.com/mtasadduqali">Facebook</a></h2>

		</p>
		<div class="contact_main">
			    <div class="col-md-4 company_ad">
				    <h2>Institute Info :</h2>
      				<address>
						 <h2>Punjab University College of Information and Technology,</h2>
						 <h3>The Mall , Lahore</h3>
						 <h3>Pakistan</h3>
				   		<h3>Phone:(00) 4232 666 444</h3>
				   		
				 	 	<h3>Email: <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1">https://www.pucit.edu.pk</a></h3>
				   		
				   	</address>
				</div>
				
				  	
  			<div class="clearfix"></div>		
		</div>
	</div>
</div>
</div>